LdapNameFormatter does not escape reserved characters

LdapNameFormatter does not support escaping reserved characters as described in section 2.4 of RFC 2253:

```
If the UTF-8 string does not have any of the following characters
which need escaping, then that string can be used as the string
representation of the value.

o   a space or "#" character occurring at the beginning of the
    string

o   a space character occurring at the end of the string

o   one of the characters ",", "+", """, "\", "<", ">" or ";"

Implementations MAY escape other characters.

If a character to be escaped is one of the list shown above, then it
is prefixed by a backslash ('\' ASCII 92).
```
