RFC-4716 support

PemUtil currently only supports RFC-1421 and RFC-2440 formats, implement support for RFC-4716 to be able to read SSH2 public keys.


It's a bit behind now, but the relevant code is here https://github.com/vt-middleware/cryptacular/tree/ISSUE-31%2B32

I'll just redo the support from the beginning and reopen a ticket.  It's a bit too far behind to merge at this point.